extends layout

block content
  nav.navbar.navbar-toggleable-md.navbar-light.fixed-top
    button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbar' aria-controls='navbar' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    a.navbar-brand(href='#') N | S
    #navbar.collapse.navbar-collapse
      ul.navbar-nav.mr-auto.mt-2.mt-md-0
        li.nav-item.active
          a.nav-link(href='#') Home
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='#') About
        li.nav-item
          a.nav-link(href='#') Posts
        li.nav-item
          a.nav-link(href='#') Contact
      form.form-inline.my-2.my-lg-0
        input.form-control.mr-sm-2(type='email', name='email' placeholder='Email')
        button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Subscribe
  header
    .d-flex.justify-content-center
      .align-self-center.text-center
        h1 Online Marketing Specialist
  section
    h2.text-center Nitu Knows Marketing
    each paragraph in paragraphs
      p= paragraph.content
  main
    .container
      .row
        .col-md-8
          h3= latestPost.title
          .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(src= latestPost.video_url, frameborder='0' allowfullscreen)
        .col-md-4
          p= latestPost.content
      .row
        each post in posts
          .col-xs-6.col-sm-4.col-md-3
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(src= post.video_url, frameborder='0' allowfullscreen)
            p= post.title
            p= post.content
  section
    .container-fluid
      h2 Contact Me
      p Have any questions or comments?
      form(action='/' method='post')
        input.form-control(type='text' name='name' placeholder='Full Name')
        input.form-control(type='email' name='email' placeholder='Email')
        textarea.form-control(type='text' name='message' placeholder='Message' rows='6')
        button.btn.btn-default(type='submit') Send
  footer
    .container-fluid
      .row
        .col-xs
          a(href='#') &copy; 2017
          a(href='#') Nitu Sidhu
        .col-xs N | S
        .col-xs
          a(href='#') Terms of Service
          a(href='#') Contact